.location {
    display: block;
    position: relative;

    @include bp (sm) {
        text-align: center;
    }

    a {
        display: flex;
        text-decoration: none;

        @include bp (sm) {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 24px;
        }

        // Background circle
        &:after {
            display: none;
            opacity: 0;
            content: "";
            position: absolute;
            pointer-events: none;
            top: 50%;
            left: 50%;
            width: 256px;
            height: 256px;
            transform: translate3d(-50%, -50%, 0) scale(0.8);
            transform-origin: 50% 50%;
            background-color: rgba($color-tertiary, 0.1);
            border-radius: 100%;
            transition: transform 0.75s var(--ease-quart), opacity 0.75s var(--ease-quart);

            @include bp (sm) {
                display: block;
            }
        }

        // Hover
        &:hover {
            &:after {
                opacity: 1;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }

    // Flag
    :global(.flag img) {
        display: block;
        margin: 2px 24px 0 auto;
        border-radius: 100% !important;
        transform: translateZ(0);

        @include bp (sm) {
            margin-top: 0;
            margin-right: 0;
        }
    }

    // Location name
    &__name {
        display: block;
        max-width: 304px;
        margin: 0 0 0.3em;
        font-size: rem(32px);
        font-family: $font-serif;
        font-weight: 300;
        line-height: 1.1;
        color: $color-secondary;
        transition: color 0.75s var(--ease-quart);

        @include bp (sm) {
            margin: 20px 0 8px;
            font-size: rem(40px);
        }
        @include bp (sd) {
            font-size: rem(48px);
        }
    }

    // Country
    &__country {
        color: $color-tertiary;
    }

    // Badge
    :global(.badge) {
        display: inline-flex;

        @include bp (sm) {
            position: absolute;
            left: 50%;
            bottom: -8px;
            transform: translateX(-50%);
        }
    }

    // Photos
    &__photos {
        display: none;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: -10%;
        left: 50%;
        width: 240px;
        height: 160px;
        background: #222;
        border-radius: 6px;
        transform: translate3d(calc(-50% + var(--offset-x)), calc(-50% + var(--offset-y)), 0) rotate(var(--rotate));
        overflow: hidden;
        box-shadow: 0 8px 8px rgba(#000, 0.1), 0 16px 28px rgba(#000, 0.12);
        pointer-events: none;
        transition: opacity 0.5s var(--ease-quart);

        @include bp (sm) {
            display: block;
        }
    }

    // Photo
    :global(.location__photo) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;

        :global(img) {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    :global(.is-visible) {
        opacity: 1;
    }

    // Hover
    &:hover {
        .location__photos {
            opacity: 1;
        }
    }
}