:global(.homepage) {
    overflow: hidden;
}

// Homepage
.homepage {
    // Intro Section
    &__intro {
        padding-bottom: calc(96px + 20vw);
        background: linear-gradient(180deg, $color-tertiary 85%, $color-primary 100%), $color-tertiary;
        color: $color-text;
        text-align: center;

        @include bp (sm) {
            padding-bottom: calc(280px + 10vw);
        }

        // Title
        :global(.title-houses) {
            display: inline-flex;
            margin: -28px 0 0;
            color: $color-secondary;
            text-align: center;

            @include bp (sm) {
                margin-top: calc(-1 * clamp(24px, 5vw, 104px));
            }

            :global(.text-split) {
                margin-left: calc(-1 * clamp(24px, 5vw, 64px));
            }
            :global(span) {
                transition: none;
                letter-spacing: -0.06em;
            }
        }

        // Button
        :global(.button) {
            $color-shadow: rgba($color-shadow-brown, 0.05);
            box-shadow:
                0 1px 1px $color-shadow,
                0 2px 2px $color-shadow,
                0 4px 4px $color-shadow,
                0 16px 16px $color-shadow;
            margin-bottom: 40px;

            :global(svg) {
                width: 24px;
                height: 24px;
                color: $color-gray;
            }
            :global(.text-split__line) {
                &:last-child {
                    color: #fff;
                }
            }

            // Hover
            &:hover {
                background-color: $color-primary-tertiary20;
            }
        }
    }
        // Headline
        &__headline {
            max-width: 350px;
            margin: clamp(24px, 10vw, 96px) auto 0;

            @include bp (sm) {
                max-width: 524px;
                margin-top: 24px;
            }

            p {
                margin-bottom: 24px;

                @include bp (sm) {
                    margin-bottom: 32px;
                }
            }
        }

    // Photos Collage
    &__photos {
        position: relative;
        width: 100%;
        max-width: 2000px;
        margin: calc(-1 * 96px - 4vw) 0 80px;

        @include bp (sm) {
            margin: calc(-1 * clamp(300px, 20vw, 500px)) auto clamp(64px, 6.5vw, 128px);
        }
    }

    // CTAS
    &__ctas {
        margin-bottom: 96px;
        text-align: center;

        @include bp (sm) {
            margin-bottom: 160px;
        }

        // List
        :global(.list-cta) {
            margin-top: 48px;

            @include bp (sm) {
                margin-top: 72px;
            }
        }
    }

    // World title
    &__locations {
        :global(.title-world) {
            min-width: 100%;
            display: inline-flex;
            color: $color-primary-tertiary20;
            text-align: center;

            @include bp (sm) {
                margin-top: calc(-1 * clamp(120px, 10vw, 216px));
            }

            :global(span:first-child) {
                margin-right: -0.075em;
            }
        }
    }
}
